@model ReflectionIT.Mvc.Paging.PagingList<TakeAFlight.Models.FlightOrder>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "My Orders";
    ViewData.AddActivePage(ManageNavPages.MyOrders);

    //var message = (List<Tuple<int, string, string, double, int>>)ViewData["Message"];
}

<h4>My Orders</h4>

@if (Model != null)
{
    <Table class="table">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    var DestinationDetails = item.Flight.Destination.ToString();
                    <tr>
                        <td>@Html.DisplayFor(modelItem => DestinationDetails)</td>
                        <td>@Html.DisplayFor(modelItem => item.Flight.Duration)</td>
                        <td>@Html.DisplayFor(modelItem => item.Flight.Price)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    </tr>
                }
        </tbody>
    </Table>
}