
@model ReflectionIT.Mvc.Paging.PagingList<TakeAFlight.Models.Flight>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "View Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Cart</h2>


