@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var message = (List<Tuple<string, string, int>>)ViewData["Message"];
}

<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>

<h2>Order</h2>


@{
    if (message.Count > 0)
    {
        <h3>Order Was Successful!</h3>
        <br />
        <Table class="table">
            <thead>
                <tr>
                    <th>Destination</th>
                    <th>Departure</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            @foreach (Tuple<string, string, int> t in message)
            {
                <tr>
                    <td>@t.Item1</td>
                    <td>@t.Item2</td>
                    <td>@t.Item3</td>
                </tr>
            }
        </Table>

        var text = string.Format("I have just orderd {0} flight!", message.Count);
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?text=@text"
           data-size="large"
           data-hashtags="TakeAFlight">
            Tweet
        </a>
}
    else
    {
        <h3>Error in the order!</h3>
    }
}