@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<span>
    Skyscanner compares millions of cheap flights from international and local companies such as El Al, Gulliver,
    Smartair, etc to find you the cheapest flight tickets fast. Whether you want to go to London or Bangkok, 
    we'll find low cost flights to get you there. We also find the cheapest hotels and car rental deals.
</span>

<p>Use this area to provide additional information.</p>
