@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <div class="panel padding-16 card half ">
        <!-- Contact -->
        <div class="container">
            <h2>Contact</h2>
            <address>
                Colman, Israel<br>
                Eli Vizel 2, Rishon Le Zion<br />
                <abbr title="Phone">P:</abbr>
                +972 12345678
            </address>


            <address>
                <strong>Support:</strong> <a href="mailto:Support@takeaflight.com">Support@takeaflight.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@takeflight.com">Marketing@takeflight.com</a>
            </address>

        </div>

        <div class="panel padding-16 card half ">
            <img src="~/images/heartPhoto.png" style="width:100%" />
        </div>


        <!--Canvas-->
        <div class="container ">
            <canvas id="myCanvas" width="400" height="100">
                Your browser does not support the HTML5 canvas tag.
            </canvas>
        </div>

    </div>
</div>

<script>
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.font = "30px Arial";
    ctx.strokeText("Let us book your next trip!", 20, 150);
</script>