@{
    ViewData["Title"] = "Home Page";
}
@model TakeAFlight.Models.Flight


<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<header class="display-container content" style="max-width:1500px;">
    <img class="image" src="~/images/aeroplane-air-aircraft-1004584.jpg" alt="Photo by Oleksandr Pidvalnyi from Pexels">
    <div class="display-left padding w3-col l6 m8">
        <div class="container orange">
            <img class="slideRight" src="~/images/airplane-11-64.png" alt="plane" align="left" style="width:7%; padding:2px;" />
            <h2>Order Flight</h2>
        </div>
        <div class="container white padding-16">
            <form asp-controller="Flights" asp-action="Index">
                <div class="row-padding" style="margin:0 -16px;">
                    <div class="half margin text_holder">
                        <label>Travel the world with us  </label>
                        <select asp-for="Destination" asp-items="ViewBag.Items" name="DestId"></select>
                        <span asp-validation-for="Destination"></span>
                    </div>
                </div>
                <div class="half">
                    <label>Departure: </label>
                    <input type="date" class="text_holder" name="Departure" value="2019-01-08" />
                </div>

                <div class="half">
                    <label>Price:</label>
                    <input type="number" class="text_holder" name="price" placeholder="price range" />
                </div>


                <div class="row-padding" style="margin:8px -16px;"></div>
                <div class="half margin-bottom"></div>
                <button class="button dark-grey" type="submit">Search flights</button>
            </form>
        </div>
    </div>
</header>

<!-- Page content   <div class="content" style="max-width:1100px;"> -->
<!-- Good offers: First Photo Grid-->
<div class="container margin-top">
    <h3>Good Offers Right Now</h3>
    <h6>Up to <strong>50%</strong> discount.</h6>
</div>
<div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
        <img src="~/images/paris.jpg" alt="Paris" style="width:100%">
        <h3>PARIS: The perfect long weekend</h3>
        <p>
            The famed City of Love, Paris will always hold a special spot in our hearts.
            From iconic architecture to world-famous cuisine, this city exudes sophistication,
            style, and romance.  Sail the Seine, cycle the Gardens of Versailles, and indulge in
            some of the finest food in the world in the majestic crown of France.
        </p>
        <aside>from 90$</aside>
    </div>
    <div class="w3-quarter">
        <img src="~/images/amsterdam.jpg" alt="Amsterdam" style="width:100%">
        <h3>AMSTERDAM: Let us tell you about this beuty city</h3>
        <p>
            Amsterdam is one of us favorite cities in the world. Its brick buildings, open skyline,
            rich history, and relaxed, easy going attitude towards life. Spent countless hours walking the city,
            making friends with locals, and getting under its skin.
            The beauty of the canals and historic homes, the friendly nature of the Dutch,
            the museums, the parks, and the quality of life. The international feel of the city,
            the cafe culture, the art, the exploding entrepreneur scene,
            and the rise of good beer bars! In short, You will love it all.
        </p>
        <aside>from 120$</aside>
    </div>
    <div class="w3-quarter">
        <img src="~/images/Berlin.jpeg" alt="Berlin" style="width:100%">
        <h3>BERLIN: Thriving art & culture in the new germany</h3>
        <p>
            In the nearly three decades since the fall of the Wall,
            no other European city has undergone a greater transformation than Berlin.
            Bold designs by some of the world's most renowned architects including Frank Gehry,
            Daniel Libeskind, and Norman Foster have sparked the city's renaissance, while
            thought-provoking monuments have redefined her urban space.  Immerse yourself in Berlin's
            boundless energy during a perfect week in this vibrant capital.
        </p>
         <aside>from 100$</aside>
    </div>
    <div class="w3-quarter">
        <img src="~/images/prague.jpg" alt="Pargue" style="width:100%">
        <h3>PRAGUE: A beautiful city by the river</h3>
        <p>
            The Czech Republic’s capital is full of amazing sights of great value.
            But Charles Bridge definitely belongs among the TOP 5 most amazing ones.
            Not only is this medieval building one of the most famous bridges in the world,
            but it is also inseparably connected to the most glamorous era of Prague and –
            last but not least – it just might be the most beautiful bridge in Europe. And
            we are not exaggerating at all.
        </p>
        <aside>from 90$</aside>
    </div>
</div>
<!-- Explore Nature -->
<div class="container">
    <h3>Explore Nature- Switzerland and Italy</h3>
    <p>Travel with us and see nature at its finest.</p>
</div>
<div class="row-padding">
    <div class="half margin-bottom img">
        <img src="~/images/alpine-alps-autumn-547119.jpg" alt="Italy" style="width:100%"/>
       
    </div>
    <div class="half margin-bottom img">
        <img src="~/images/agriculture-clouds-conifer-922978.jpg" alt="italian-landscape-mountains-nature" style="width:100%"/>
    </div>
</div>

<!-- GoogleMapsAPI -->
<div class="container ">
    <div class="panel padding-16 card ">
        <h2>Still undecided? Explore our map</h2>
        <div id="map"></div>
    </div>
</div>


<!-- Video  -->
<div class="container ">
    <div class="panel padding-16 card ">
        <h2>Top 10 Best Cities to Visit in Europe</h2>
        <video id="video1" controls="controls" style="width:100%;">
            <source src="~/video/videoplayback.mp4#t=18,60" type="video/mp4" />
        </video>
    </div>
</div>



<!-- WeatherApi -->
<div class="container ">
    <div class="panel padding-16 black card">
        <h2>Get Current Weather</h2>

        <div class="row form-group">
            <input class="input border form-control" type="text" name="city" id="city" placeholder="Enter City Name" />
            <button id="submitWeather" class="button red margin-top">Search City</button>
        </div>
        <span id="error"></span>
    </div>
</div>
    
<script>
    $(document).ready(function () {
        $('#submitWeather').click(function () {
            var city = $("#city").val();
            if (city != '') {
                $.ajax({
                    url: 'https://api.openweathermap.org/data/2.5/weather?q=' + city
                        + "&units=metric" + "&APPID=d147dcd63d948cf6bb4a9d7437357187",
                    type: "GET",
                    dataType: "jsonp",
                    success: function (data) {
                        var widget = show(data);

                        $("#error").html(widget);

                        $("#city").val('');
                    },
                    error: function (request, status, error) {
                        $("#error").html("something went wrong pls try again later...");
                    }
                });
            } else {
                $("#error").html('Field cannot be empty');
            }
        })
    });

    function show(data) {
        return "<h3> Current Weather for " +
            data.name + ", " + data.sys.country + "</h3>" +
            "<h3><strong>Weather</strong>: " + data.weather[0].main + "</h3>" +
            "<h3><strong>Description</strong>: " + data.weather[0].description +
            "<img src='http://openweathermap.org/img/w/" + data.weather[0].icon + ".png'> " + "</h3>" +
            "<h3><strong>Temperature</strong>: " + data.main.temp + " &deg;C </h3>" +
            "<h3><strong>Pressure</strong>: " + data.main.pressure + " hPa </h3>" +
            "<h3><strong>Humidity</strong>: " + data.main.humidity + " % </h3>" +
            "<h3><strong>Min. Temperature</strong>: " + data.main.temp_min + " &deg;C </h3>" +
            "<h3><strong>Max. Temperature</strong>: " + data.main.temp_max + " &deg;C </h3>" +
            "<h3><strong>Wind Speed</strong>: " + data.wind.speed + "m/s </h3>" +
            "<h3><strong>Wind Direction</strong>: " + data.wind.deg + " &deg; </h3>"
    }
</script>

<!-- End page content -->

<script>
    function myMap() {
        $(document).ready(function () {

            var geocoder = new google.maps.Geocoder();
            var mapOptions = {
                center: new google.maps.LatLng(51.5, -0.12),
                zoom: 2
            }
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            $.post("Home/GetDestinations", function (data, status) {
                for (var i = 0; i < data.length; i++) {

                    geocoder.geocode({ 'address': data[i].city }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            newAddress = results[0].geometry.location;
                            var latlng = new google.maps.LatLng(parseFloat(newAddress.lat()), parseFloat(newAddress.lng()));

                            var marker = new google.maps.Marker({ position: latlng });
                            marker.setMap(map);
                        }
                    });
                }
            });
        });
    }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4wKu5B_svVdh8tMLTOYElviaptWJBTlw&callback=myMap"></script>
